/* BASE STYLING */

.container { 
  background-color: #F5F5F5;
  border-radius: 8px;
  text-align: center;
  padding: 1em 1.5em;
  min-width: 320px;
  min-height: 320px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > h1 {
  margin: .25em;
}

.container > p {
  line-height: 1.5;
}


/* DICE STYLING */

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1.25em;
  margin: 2em 0;
}

.die-face {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25); 
  padding: .20em;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-areas: 
      "a . c"
      "e g f"
      "d . b";
  flex: 0 0 auto;
}

.pip {
  display: block;
  align-self: center;
  justify-self: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
  grid-area: b;
}

.pip:nth-child(3) {
  grid-area: c;
}

.pip:nth-child(4) {
  grid-area: d;
}

.pip:nth-child(5) {
  grid-area: e;
}

.pip:nth-child(6) {
  grid-area: f;
}

.pip:nth-child(odd):last-child {
grid-area: g;
}

.is-held {
  background-color: #59E391;
}

.roll-btn {
  color: white;
  background-color: #5035FF;
  font-size: 1.2rem;
  font-style: bold;
  border: none;
  border-radius: 5px;
  padding: .5em 2em;
  cursor: pointer;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.game-stats {
  margin: 1.5em auto;
  font-weight: 600; 
}


/* MEDIA QUERIES */

@media (min-width: 500px) {
  .die-face {
    width: 50px;
    height: 50px;
  }

  .pip {
    width: 10px;
    height: 10px;
  }

  .roll-btn {
    font-size: 1.5rem;
    padding: .5em 2em;
  }
}
