.container { 
  background-color: #F5F5F5;
  border-radius: 8px;
  text-align: center;
  padding: 1em;
  min-width: 320px;
  min-height: 320px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > h1 {
  margin: .25em;
}


/* DICE STYLING */

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2em;
  margin: 2em 0;
}

.die-face {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25); 
  padding: .25em;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 1.4rem;
}

.is-held {
  background-color: #59E391;
}

/* held die color #59E391 */

.roll-btn {
  color: white;
  background-color: #5035FF;
  font-size: 1.2rem;
  font-style: bold;
  border: none;
  border-radius: 5px;
  padding: .5em 2em;
  cursor: pointer;
}

.roll-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


/* MEDIA QUERIES */

@media (min-width: 500px) {
  .die-face {
    width: 50px;
    height: 50px;
  }

  .die-num {
    font-size: 2rem;
  }

  .roll-btn {
    font-size: 1.5rem;
    padding: .5em 2em;
  }

}
