/* BASE RESET */
* {
    box-sizing: border-box;
    margin: 0;
}


/* BASE STYLES */

body {
  font-family: 'Karla', sans-serif;
  font-size: 13px;
  color: #4A4E74;
  background-color: #0B2434;
  margin: 0;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4 {
  color: #2B283A;
}

button {
  font-family: 'Karla', sans-serif;;
}


/* FOOTER */

footer {
  color: #F5F5F5;
  margin-top: 2em;
  text-align: center;
  line-height: 2.5;
}

footer a, footer a:visited {
  text-decoration: none;
  color: #F5F5F5;
  border-bottom: 1px solid #59E391;
}

footer a:hover {
  border-bottom: 1px solid #5035FF;
}


/* MEDIA QUERIES */

@media (min-width: 500px) {
  p {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 2.3rem;
  }
  footer {
    margin-top: 5em;
  }
}
